<html class="login-html">
  <head>
    <meta charset="utf-8">
    <title>loDial</title>
    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header class="login-header">
        <h1 class="dial">loDial</h1>
    </header>

<div class="login-div">
  <div class="login pure-form pure-form-aligned">
  <%= form_tag do %>
  <%= text_field_tag :email, nil, placeholder: "Email", :class => "email-login-div" %>
  <%= password_field_tag :password, nil, placeholder: "Password", :class => "password-login-div" %>
  <%= submit_tag "Login", :class => "btn-login" %>
    <% end %>
  </div>

  <div class="login-represent-div">
    <p class="radio-btn-label"><span>Or Register As</span></p>

  <div class="login-btns">
      <%= link_to "New Station", new_station_path, :class => "btn-radio-register" %>
      <%= link_to "New Promoter", new_promoter_path, :class => "btn-promo-register" %>
  </div>

  </div>
</div>

  <div class="login-footer">
      <p><span class="login-footer-title">loDial</span>. Make radio easier.</p>
  </div>

</html>
