  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">

  <html class="station-register-html">

  <header class="station-register-header">
      <h1 class="dial">loDial</h1>
  </header>

  <div class="station-register-div">
  <p class="new-station-heading"><span class="station-lodial">loDial</span> - Sign Up!</p>

  <div class="station-register pure-form pure-form-aligned">
    <%= form_for @station, html: { multipart: true } do |f| %>
      <% if @station.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

          <ul>
          <% @station.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="station-name-div">
      <%= f.text_field :name, placeholder: "Name", :class => "station-contact-name pure-input-1" %>
    </div>

    <div class="promo-company-name-div">
      <%= f.text_field :station_name, placeholder: "Radio Station", :class => "radio-station-name pure-input-1" %>
    </div>

    <div class="station-email-div">
      <%= f.text_field :email, placeholder: "Email", :class => "station-email pure-input-1" %>
    </div>

    <div class="promo-password-div">
      <%= f.text_field :password, placeholder: "Password", :class => "station-password pure-input-1" %>
    </div>

    <div class="station-phone-number-div">
      <%= f.text_field :phone_number, placeholder: "Phone Number (optional)", :class => "station-phone pure-input-1" %>
    </div>

    <div class="mailing-address-div pure-form pure-g">
      <div class="station-address-1-div pure-u-1-2">
        <%= f.text_field :address_1, placeholder: "Mailing Address (optional)", :class => "station-address-1 pure-input-1" %>
      </div>

      <div class="station-address-2-div pure-u-1-2">
        <%= f.text_field :address_2, placeholder: "Mailing Address 2 (optional)", :class => "station-address-2 pure-input-1" %>
      </div>
    </div>

    <div class="city-state-zip-div pure-form pure-g">
      <div class="station-city-div pure-u-1-3">
        <%= f.text_field :city, placeholder: "City (optional)", :class => "station-city pure-input-1" %>
      </div>

      <div class="station-state-div pure-u-1-3">
        <%= f.text_field :state, placeholder: "State (optional)", :class => "station-state pure-input-1" %>
      </div>

      <div class="station-zipcode-div pure-u-1-3">
        <%= f.text_field :zipcode, placeholder: "Zip (optional)", :class => "station-zipcode pure-input-1" %>
      </div>
    </div>

    <label class="file-upload">
      <%= f.file_field :picture_upload, :class => "upload" %>
      <span class="file-upload-label">Add a Profile Picture <i class="fa fa-picture-o"></i></span>
    </label>

    <div class="btn-create-station-div">
      <%= submit_tag "Register", :class => "btn-create-station" %>
    </div>
    <% end %>
  </div>
</div>
</html>
