<div>

  <a class="close">X</a>
  <h2 class="modal-title">
    Edit Artist
  </h2>

  <form class="new-artist-form pure-form pure-form-aligned">

    <div class="new-artist pure-control-group pure-input-1">
      <input class="edit-artist-id" name="edit-artist-id" type="hidden"  value="<%- artist.id %>""/>
    </div>

    <div class="new-artist pure-control-group pure-input-1">
      <input class="new-artist-name" name="new-artist-name" placeholder="Artist name"  value="<%- artist.name %>""/>
    </div>

    <div class="new-album pure-control-group">
      <input class="new-album-name" name="new-album-name" placeholder="Album name" value="<%- artist.album_name %>"/>
    </div>

    <div class="new-track pure-control-group">
      <input class="new-track-name" name="new-track-name" placeholder="Track name" value="<%- artist.song_name %>"/>
    </div>

    <div class="new-track pure-control-group">
      <textarea maxlength="1400" placeholder="Artist Bio" class="new-artist-bio" id="text-area" value="<%- artist.bio %>"></textarea>
    </div>

    <div class="picture-group-1">
      <label class="picture-upload" id="pu1">
        <input class="new-picture-file-1" type="file">
        <span class="picture-upload-label">Add Artist Photo <i class="fa fa-picture-o"></i></span>
      </label>

      <label class="picture-upload">
        <input class="new-picture-file-2" type="file">
        <span class="picture-upload-label">Add Artist Photo <i class="fa fa-picture-o"></i></span>
      </label>
    </div>

    <div class="picture-group-2">
      <label class="picture-upload" id="pu2">
        <input class="new-picture-file-3" type="file">
        <span class="picture-upload-label">Add Artist Photo <i class="fa fa-picture-o"></i></span>
      </label>

      <label class="picture-upload">
        <input class="new-picture-file-4" type="file">
        <span class="picture-upload-label">Add Artist Photo <i class="fa fa-picture-o"></i></span>
      </label>
    </div>

    <div class="picture-group-2">
      <label class="picture-upload" id="pu3">
        <input class="new-picture-file-5" type="file">
        <span class="picture-upload-label">Add Artist Photo <i class="fa fa-picture-o"></i></span>
      </label>

      <label class="picture-upload">
        <input class="new-music-file" type="file">
        <span class="picture-upload-label">Upload Music Sample <i class="fa fa-music"></i></span>
      </label>
    </div>

    <button class="submit-new-artist" type="button">Submit</button>

  </form>

</div>
