<div class="promo-chart">
</div>

<div class="feedback-header">
  <h2 class="pure-menu-heading">Feedback</h2>
</div>

<div class="container-wrapper">
<% feedbacks.forEach(function(feedback) { %>

  <div class="promo-feedback">
      <div class="feedback-profile" style="background-image: url(<%- feedback.station.picture_upload %>);">
    </div>

    <% if(feedback.request === true) { %>
<input name="feedback-id" class="feedback-id" type="hidden" data-feedback-id="<%- feedback.id %>">
<a class="remove remove-promoter-feedback js-remove-feedback">X</a>
      <div class="feedback-text">
        <div>
          <p class="radio-reviewer"><%- feedback.station.name %> at <%- feedback.station.station_name %></p>
        </div>
        <div class="feedback-comment">
          <div class="quote">
            <p class="feedback-quote">"<%- feedback.comment %>"</p>
          </div>
        </div>
        <div class="feedback-request">
          <p class="send-to"><i class="fa fa-envelope-o promo-dash-envelope"></i>Send a copy of
          <span class="album-reviewed"><%- feedback.artist.album_name %></span> by <span class="artist-reviewed-name"><%- feedback.artist.name %></span>
             to <%- feedback.station.name %><%- feedback.station.address_1 %>
            <% if(feedback.station.address_2 !== null) { %>
            <%- feedback.station.address_2 %>
            <% } %>
            <%- feedback.station.city %>, <%- feedback.station.state %> <%- feedback.station.zipcode %></p>
          </div>
        </div>
      </div>

    <% } else { %>

    <input name="feedback-id" type="hidden" class="feedback-id" data-feedback-id="<%- feedback.id %>">
    <a class="remove remove-negative-feedback js-remove-feedback">X</a>
      <div class="feedback-text">
      <div>
        <p class="feedback-quote">"<%- feedback.comment %>"</p>
      </div>
        <div>
          <p><span class="radio-reviewer"><%- feedback.station.name %> at <%- feedback.station.station_name %></p>
          <p class="rejection-message"><i class="fa fa-trash-o"></i> Please Do Not Send <span class="album-reviewed"><%- feedback.artist.album_name %></span> by <span class="artist-reviewed-name"><%- feedback.artist.name %></span> to me</p>
        </div>

    <% } %>
  </div>
</div>
<% }) %>
