<div class="feedback-header">
  <h2 class="pure-menu-heading">Feedback</h2>
</div>

<% feedbacks.forEach(function(feedback) { %>

<div class="promo-feedback">
  <div class="feedback-profile" style="background-image: url(<%- feedback.station.picture_upload %>);">
  </div>

  <% if(feedback.request === true) { %>

    <div class="feedback-text">
      <div class="feedback-comment">
        <div>
          <p><%- feedback.station.name %> at <%- feedback.station.station_name %></p>
        </div>
        <div>
          <p>"<%- feedback.comment %>"</p>
        </div>
      </div>
      <div class="feedback-request">
        <div>
          <p>Send <%- feedback.artist.album_name %> by <%- feedback.artist.name %> to:</p>
        </div>
        <div>
          <ul>
            <li><%- feedback.station.address_1 %></li>
            <% if(feedback.station.address_2 !== null) { %>
            <li><%- feedback.station.address_2 %></li>
            <% } %>
            <li><%- feedback.station.city %>, <%- feedback.station.state %> <%- feedback.station.zipcode %></li>
          </ul>
        </div>
      </div>
    </div>

  <% } else { %>

    <div class="feedback-text">
      <p><%- feedback.station.name %> doesn't like this music :(</p>
    </div>

  <% } %>

</div>


<% }) %>
