<div class="feedback-header">
  <h2 class="pure-menu-heading">Feedback</h2>
</div>

<div class="container-wrapper">
<% feedbacks.forEach(function(feedback) { %>

  <div class="promo-feedback">
    <input name="feedback-id" type="hidden" data-feedback-id="<%- feedback.id %>">
    <div class="feedback-profile" style="background-image: url(<%- feedback.station.picture_upload %>);">
    </div>

    <% if(feedback.request === true) { %>

      <div class="feedback-text">
        <div class="feedback-comment">
          <div class="radio-reviewer>
            <p><%- feedback.station.name %> at <%- feedback.station.station_name %> reviewed <%- feedback.artist.album_name %> by <%- feedback.artist.name %>:</p>
          </div>
          <div>
            <p>"<%- feedback.comment %>"</p>
          </div>
        </div>
        <div class="feedback-request">
          <div>
            <p>Send a copy to:</p>
          </div>
          <div>
            <ul>
              <li><%- feedback.station.name %></li>
              <li><%- feedback.station.address_1 %></li>
              <% if(feedback.station.address_2 !== null) { %>
              <li><%- feedback.station.address_2 %></li>
              <% } %>
              <li><%- feedback.station.city %>, <%- feedback.station.state %> <%- feedback.station.zipcode %></li>
            </ul>
          </div>
        </div>
        <a class="remove remove-promoter-feedback">X</a>
      </div>

    <% } else { %>

      <div class="feedback-text">
        <div>
          <p><%- feedback.station.name %> at <%- feedback.station.station_name %> reviewed <%- feedback.artist.album_name %> by <%- feedback.artist.name %>:</p>
        </div>
        <div>
          <p class="rejection-feedback">"<%- feedback.comment %>"</p>
        </div>
      <div class="rejection-message">
        <p>Please Do Not Send Album</p>
      </div>

    <% } %>
  </div>
</div>

<% }) %>
