<div class="ranking-modal"></div>

<div class="station-chart">

  <% rankings.forEach(function (ranking) { %>

  <div class="charting-div" name="<%- ranking.rank %>" class="ranking-div" data-rank="<%- ranking.rank %>" data-id="<%- ranking.id %>" data-artist-id="<%- ranking.artist_id %>" data-station-id="<%- ranking.station_id %>">

    <div class="js-rank-num">
      <p class="js-rank" ><%- ranking.rank %></p>
    </div>
    <div class="js-ranking-album">
      <p class="js-album-name" data-album-name="<%- ranking.album_name %>">
        <% if (ranking.album_name !== undefined) { %><%- ranking.album_name %><% } %></p>
      <p class="js-artist-name" data-artist-name="<%- ranking.name %>">
        <% if (ranking.artist_name !== undefined) { %><%- ranking.artist_name %><% } %></p>
    </div>
  </div>
  <% }) %>

  <button type="button" class="update-chart">Update</button>

</div>
