<div class="picture-div">
 <img src="<%- artist.picture_upload_1_file %>"/>
</div>

<div class="info-div">

 <div class="band-menu">

   <h2 class="listen-artist-name"><%- artist.name %></h2>

   <div class="album-details">
     <h3 class="album-name"><%- artist.album_name %></h3>
   </div>

 </div>

 <div class="music-div">

   <div class="listen-artist-div">
     <h2 class="listen-artist-info"><%- artist.name %></h2>
   </div>

   <div class="player-menu-div">

     <div class="music-player">

       <audio>
         <source src="<%- artist.music_upload_file %>">
       </audio>

       <div id="audio-player">

         <button id="pButton" class="play"></button>

         <div id="timeline">
           <div id="playhead"></div>
         </div>

       </div>

     </div>

   </div>

   <p class="song-name">"<%- artist.song_name %>"</p>

 </div>

 <div id="listen-picture-div">

   <div class="logo-image">
     <img src="<%- artist.picture_upload_2_file %>" alt="Placeholder Image" />
   </div>
   <div class="logo-image">
     <img src="<%- artist.picture_upload_3_file %>" alt="Placeholder Image" />
   </div>
   <div class="logo-image">
     <img src="<%- artist.picture_upload_4_file %>" alt="Placeholder Image" />
   </div>
   <div class="logo-image">
     <img src="<%- artist.picture_upload_5_file %>" alt="Placeholder Image" />
   </div>

 </div>

 <div class="bio-div">

   <p class="bio"> "<%- artist.bio %>" </p>

 </div>

 <div class="slider">

   <form class="comments comments-form">

     <label class="listen-options">
      <input type="radio" name="mail" id="send-cd" value="true" />
      <div class="icons">
         <span class="slider-icons" id="send-cd-icon"><i class="fa fa-envelope-o" id="mail-icon"></i> Send Me a CD <span class="divider">|</span></span>
      </div>
     </label>

     <label class="listen-options">
      <input type="radio" name="mail" id="send-cd" value="false" />
      <div class="icons">
         <span class="slider-icons" id="no-cd-icon"><i class="fa fa-times"></i> Don't Send Me a CD </span>
      </div>
     </label>

       <input type="hidden" name="artist-id" data-artist-id="<%- artist.id %>">
       <div class="text-area-div">
         <textarea maxlength="500" placeholder="What Did You Think?" class="text-area" id="text-area"></textarea><br>
         <button type="button" class="btn-listen-pg">Submit</button>
       </div>

     </div>

   </form>

 </div>

</div>
