<header class="listen-header">
  <h2 class="listen-lodial"><a href="#">loDial</a></h2>

  <p class="band-menu"><%- artist.promoter_name %> > <%- artist.name %> > <%- artist.album_name %> <%- artist.song_name %></p>

</header>

<div class="music-div">

  <div class="listen-artist-div">
    <h2 class="listen-artist-info"><%- artist.name %></h2>
  </div>

  <div class="player-menu-div">

<ul class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked />
    <li class="slide-container">
    <div class="slide">
      <img src="http://media1.fdncms.com/pitch/imager/the-avett-brothers-are-coming-to-starlight/u/original/5070930/avett_brothers.jpg" />
        </div>
    <div class="nav">
      <label for="img-6" class="prev">&#x2039;</label>
      <label for="img-2" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-2" />
    <li class="slide-container">
        <div class="slide">
          <img src="http://musicconnection.com/wp-content/uploads/2013/02/avettbros_one_72.jpg" />
        </div>
    <div class="nav">
      <label for="img-1" class="prev">&#x2039;</label>
      <label for="img-3" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-3" />
    <li class="slide-container">
        <div class="slide">
          <img src="http://www.mtv.com/crop-images/2013/09/09/the_avett_bros.jpg" />
        </div>
    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-4" class="next">&#x203a;</label>
    </div>
    </li>

    <input type="radio" name="radio-btn" id="img-4" />
    <li class="slide-container">
        <div class="slide">
          <img src="http://www.christinastorch.com/main/wp-content/uploads/2011/07/RevPeytonOneSheetv2.jpg" />
        </div>
    <div class="nav">
      <label for="img-3" class="prev">&#x2039;</label>
      <label for="img-5" class="next">&#x203a;</label>
    </div>
    </li>

    <li class="nav-dots">
      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
      <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    </li>
</ul>

    <div class="music-player">
      <audio controls>
        <source src="<%- artist.music_upload_file %>">
      </audio>
    </div>


  <form class="listen-form pure-form pure-form-aligned">

    <input type="hidden" name="artist-id" data-artist-id="<%- artist.id %>"
    <div class="checkboxes">
      <label class="listen-options">
        <input type="checkbox" name="mail" value="mail" id="send-cd"/>
          <span><i class="fa fa-envelope-o"></i> Send Me a CD! <span class="divider">|</span></span>
          <span><i class="fa fa-comment-o"></i> Add Comment</span>
        </label>

    </div>

        <textarea maxlength="500" placeholder="Comments" class="text-area" id="text-area"></textarea><br>


        <button class="btn-listen-pg">Submit</button>

    </form>
  </div>
