
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">

<html class="promo-register-html">

  <header class="promo-register-header">
      <h1 class="dial">loDial</h1>
  </header>

  <div class="promo-register-div">
  <p class="new-promo-heading"><span class="promo-lodial">loDial</span> - Sign Up!</p>

  <div class="promo-register pure-form pure-form-aligned">
    <%= form_for @promoter, html: { multipart: true } do |f| %>
      <% if @promoter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@promoter.errors.count, "error") %> prohibited this promoter from being saved:</h2>

          <ul>
          <% @promoter.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="promo-name-div">
      <%= f.text_field :name, placeholder: "Name", :class => "promo-name pure-input-1" %>
    </div>

    <div class="promo-company-name-div">
      <%= f.text_field :company_name, placeholder: "Company Name", :class => "promo-company-name pure-input-1" %>
    </div>

    <div class="promo-email-div">
    <%= f.text_field :email, placeholder: "Email", :class => "promo-email pure-input-1" %>
    </div>

    <div class="promo-password-div">
      <%= f.text_field :password, placeholder: "Password", :class => "promo-password pure-input-1" %>
    </div>

    <div class="promo-phone-number-div">
    <%= f.text_field :phone_number, placeholder: "Phone Number (optional)", :class => "promo-phone-number pure-input-1" %>
    </div>

  <label class="file-upload">
    <%= f.file_field :picture_upload, :class => "upload" %>
    <span class="file-upload-label">Add a Profile Picture <i class="fa fa-picture-o"></i></span>
  </label>

  <div class="btn-create-promo-div">
      <%= f.submit :class => "btn-create-promo" %>
  </div>
  <% end %>
  </div>
  </div>
</div>
  </html>
