<%= form_for @promoter, html: { multipart: true } do |f| %>
  <% if @promoter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promoter.errors.count, "error") %> prohibited this promoter from being saved:</h2>

      <ul>
      <% @promoter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<html class="promo-register-html">
  <head>
    <meta charset="utf-8">
    <title class="register-title">Register - loDial</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/promo-register.css">
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>

  <header class="promo-register-header">
      <h1 class="dial">loDial</h1>
  </header>

  <div class="promo-register-div">
  <p class="new-promo-heading"><span class="promo-lodial">loDial</span> - Sign Up!</p>

  <div class="promo-register pure-form pure-form-aligned">

    <%= text_field :name, nil, placeholder: "Name", :class => "promo-name-div" %>
    <%= text_field :company_name, nil, placeholder: "Company Name", :class => "promo-company-name-div" %>
    <%= text_field :email, nil, placeholder: "Email", :class => "email-reg-div" %>
    <%= text_field :password, nil, placeholder: "Password", :class => "password-reg-div"%>
    <%= text_field :phone_number, nil, placeholder: "Password", :class => "promo-phone-number-div" %>

  <div class="field">
    <%= f.file_field :picture_upload %>
  </div>

  <div class= "btn-create-promo">
    <%= f.submit %>
  </div>
<% end %>
