<!DOCTYPE html>
<html>
<head>
  <title>Radion</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
  <header>
    <% if session[:user_id] %>
      <div >Logged in as  <%= session[:user_name] %> </div>
      <div> <%= link_to "Logout", sessions_logout_path%> </div>
    <% end %>
  </header>
  <input id="user-session-info" type="hidden" data-userid="<%= session[:user_id] %>" data-usertype="<%= session[:user_type] %>">
  <main>
  <%= yield %>
  </main>
</body>
</html>
