<!DOCTYPE html>
<html>
<head>
  <title>loDial</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-07-07/ae43990ee430fc7b34feae5b251aac36.ico.png" type="image/x-icon">
  <link rel="icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-07-07/ae43990ee430fc7b34feae5b251aac36.ico.png" type="image/x-icon">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <input id="user-session-info" type="hidden" data-userid="<%= session[:user_id] %>" data-username="<%= session[:user_name] %>" data-usertype="<%= session[:user_type] %>">
  <% if session[:user_id] %>
    <header class="dash-header">
      <h2 class="dial-low"><a href="#dashboard">loDial</a></h2>
      <h2 class="welcome">Welcome, <%= session[:user_name] %> </h2>
      <h2 class="logout"> <%= link_to "Logout", sessions_logout_path %> </div>
    </header>
  <% end %>
  <main>
  <%= yield %>
  </main>
</body>
</html>
